<header id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay">
  
  <div class="navigation-header">
    
    <!-- ONLY LOGO ON HEADER -->
    <div class="navbar non-sticky">
      
      <div class="container">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><h2 class="menu-logo">Connect<span class="strong">Me</span>To</h2></a>
        </div>
      </div>
      <!-- /END CONTAINER -->
      
    </div>
    <!-- /END ONLY LOGO ON HEADER -->
    
  </div>
  
  <!-- HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
  <div class="container">
    
    <div class="row">
            
      <!-- REGISTRATION FORM -->
      
      <div class="col-md-12 col-sm-12">
        
        <div class="vertical-registration-form">
          <div class="colored-line">
          </div>
          <h3>Login</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="col-md-6 col-sm-6">
                          <%= f.email_field :email, class: "form-control input-box", id: "email", placeholder: "Email", autofocus: true %>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <%= f.password_field :password, class: "form-control input-box", id: "password", placeholder: "Password" %>
                        </div>
                        <% if devise_mapping.rememberable? -%>
                          <div class="col-md-12 col-sm-12">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end -%>

                        <div class="actions">
                          <%= f.submit "Log in", class: "btn standard-button", id: "submit" %>
                        </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
      <!-- /END - REGISTRATION FORM -->
    </div>
    
  </div>
  <!-- /END HEADING, FEATURES AND REGISTRATION FORM CONTAINER -->
  
</div>

</header>
