<!DOCTYPE html>
<html>
<head>
    <title>Connect Me To - Connecting people</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

	<!-- =========================
	     STYLESHEETS   
	============================== -->
	<!-- BOOTSTRAP -->
	<%= stylesheet_link_tag    'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
	<!-- FONT ICONS -->
	<!-- IonIcons -->
	<%= stylesheet_link_tag    'ionicons.css', media: 'all', 'data-turbolinks-track' => true %>

	<!-- Font Awesome 
	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
	-->

	<!-- Elegant Icons -->
	<%= stylesheet_link_tag    'elegant-icons.css', media: 'all', 'data-turbolinks-track' => true %>
	<!--[if lte IE 7]><script src="assets/elegant-icons/lte-ie7.js"></script><![endif]-->


	<!-- COLORS -->
	<%= stylesheet_link_tag    'blue.css', media: 'all', 'data-turbolinks-track' => true %>
	<!-- CUSTOM STYLESHEETS -->
	<%= stylesheet_link_tag    'styles.css', media: 'all', 'data-turbolinks-track' => true %>
	<!-- RESPONSIVE FIXES -->
	<%= stylesheet_link_tag    'responsive.css', media: 'all', 'data-turbolinks-track' => true %>
	<!--[if lt IE 9]>
				<script src="js/html5shiv.js"></script>
				<script src="js/respond.min.js"></script>
	<![endif]-->

	<!-- ****************
      After neccessary customization/modification, Please minify HTML/CSS according to http://browserdiet.com/en/ for better performance
     **************** -->
     

</head>
<body>

	<%= yield %>

	<%= render "layouts/footer" %>

	<!-- =========================
	     SCRIPTS   
	============================== -->
	<%= javascript_include_tag 'jquery.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'retina-1.1.0.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'smoothscroll.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.scrollTo.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.localScroll.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'simple-expand.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.nav.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.ajaxchimp.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'custom.js', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'jquery-1.8.0.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'html5shiv.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery-ui.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jcarousel.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.mCustomScrollbar.min.js', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery.usquare.js', 'data-turbolinks-track' => true %>

</body>
</html>
